*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body
{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: #111;
}
#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    gap: 10px;
}
#loader{
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
}
#grow{
    width: 100%;
    height: 5px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(190, 186, 186);
}

#hariline{
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: green;
}
































    /* }
#page1{
    width: 100%;
    height: 100%;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: lightblue;
}
#page3{
    width: 100%;
    height: 100%;
}

h1{
    position: relative;
    text-transform: uppercase;
    font-size: 80vh;
} */