*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: silver;
}
#page2{
    width: 100%;
    background-color: antiquewhite;
}
#page2 img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: sticky;
    top: 0;
}