*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body
    {
        width: 100%;
        height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 40, 0) , rgb(242, 242, 244));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 100px;
}

.one{
    width: 25%;
    height: 75%;
    background-color: #fff;
}
h3{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(5, 142, 5, 0);
}
#image{
    width: 100%;
    height: 50%;
    background-color: rgb(222, 15, 84);
}
#image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#text{
    width: 100%;
    height: 50%;
    text-align: center;
}
#text h4{
    font-size: 17px;
    opacity: .6;
    font-weight: 600;
}
#text h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}
#text h5{
    font-size: 15px;
    opacity: .7;
    font-weight: 500;
}
button{
    padding: 15px 30px;
    background-color: rgb(170, 12, 65);
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.two{
    width: 20%;
    height: 70%;
    background-color: #fff;
}
h3{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(2, 61, 2);
}
.two #image{
    width: 100%;
    height: 50%;
    background-color: rgb(234, 13, 13);
}
.two #image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.two #text{
    width: 100%;
    height: 50%;
    text-align: center;
}
.two  #text h4{
    font-size: 17px;
    opacity: .6;
    font-weight: 600;
}
.two  #text h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}
.two  #text h5{
    font-size: 15px;
    opacity: .7;
    font-weight: 500;
}
.two button{
    padding: 15px 30px;
    background-color: rgb(222, 7, 7);
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.three{
    width: 20%;
    height: 70%;
    background-color: #fff;
}
.three h3{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(2, 61, 2);
}
.three #image{
    width: 100%;
    height: 50%;
    background-color: rgb(1, 36, 1);
}
.three #image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.three #text{
    width: 100%;
    height: 50%;
    text-align: center;
}
.three #text h4{
    font-size: 17px;
    opacity: .6;
    font-weight: 600;
}
.three #text h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}
.three #text h5{
    font-size: 15px;
    opacity: .7;
    font-weight: 500;
}
.three button{
    padding: 15px 30px;
    background-color: rgb(1, 36, 1);
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
