* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    padding: 0% 5%;
    background-color: aquamarine;
}

#page {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 210, 182);
}

#nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 50px;
}

#one {
    padding: 10px;
    display: flex;
    align-items: center;
}
#one h2{
    font-size: 18px;
    font-weight: 550;
}
#one span{
    opacity: .4;
    font-weight: 350;
}

#two{
    padding: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#two h4{
    font-size: 15px;
    font-weight: 500;
}

#bottom{
    /* position: relative; */
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#left{
    width: 30%;
    height: 100%;
    margin-top: 10%;
    padding: 0% 50px;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#left h2{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 5px;
}
#left h1{
    z-index: 3;
    /* position: absolute; */
    color: rgb(244, 0, 57);
    letter-spacing: 5px;
    margin-bottom: 100px;
    font-size: 55px;
}
#left h5{
    opacity: .5;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
#left span{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
#left i{
    font-size: 45px;
}

#right {
    width: 70%;
    height: 100%;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#right img{
    width: 95%;
    height: 90%;
    background-size: cover;
    background-position: center;
}

#image {
    width: 30%;
    height: 40%;
    background-color: aqua;
    position: absolute;
    top: 40%;
    left: -10%;
}
#image img{
    width: 100%;
    height: 100%;
}
#card{
    width: 20%;
    height: 15%;
    position: absolute;
    top: 75%;
    left: 70%;
}
#card h2{
    right: 10px;
    text-align: end;
    margin: 10px;
    color: #fff;
}
#card1{
    width: 100%;
    height: 70%;
    background-color: rgb(224, 10, 78);
    display: flex;
    align-items: center;
}
#card h2{
    color: #fff;
}

@keyframes move {
    from{
        left: -20%;
        top: -20%;
    }
    to{
        left: 0%;
        top: 0px;

    }
}
@keyframes text {
    from{
        left: -20%;
        top: -20%;
    }
    to{
        left: 0%;
        top: 0px;

    }
}