* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"plain light";
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    padding-top: 15vh;
    padding-left: 8vw;
    z-index: 99;
}
.load{
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 18vh;
    /* background-color: red; */
}
.load:nth-child(1){
    padding-left: 3vw;
}
.load h1{
    font-size: 7vw;
    text-transform: uppercase;
}   
.load h2{
    font-size: 7vw;
    margin-left: 2vw;
    text-transform: uppercase;
    animation-name: now;

    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 0;
        color: white;
        font-weight: 100;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        color: transparent;
        font-weight: 100;
    }

    95%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color: transparent;
        font-weight: 100;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
}

.mousefollower{
    width: 3vw;
    height: 3vw;
    background-color: transparent !important;
    border: 5px solid whitesmoke;
}



#timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-right: 5vw;
    width: 16vw;
}

#timer h4{
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 100;
}
#timer h5{
    font-size: 4vw;
    font-weight: 100;

    font-family: "silk serif";

}





#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;

}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;



}
