*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gilroy;
}
*::selection{
    background-color: #FCE8B6;
}
html,body{
    width: 100%;
    height: 100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: 100px;
    /* background-color: red; */
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    width: 30%;
    /* background-color: #000; */
}

#nav-part1 h4{
    font-size: 15px;
    font-weight: 500;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: blue; */
    width: 30%;
    gap: 50px;
}

#nav-part2 button{
    padding: 15px 25px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 550;
}

#nav-part2 #login{
    background-color: #fff;
    color: black;
}

#img{
    height: 100px;
}

#center{
    width: 100%;
    height: 69%;
    text-align: center;
    padding: 90px;
    /* background-color: gray; */
}

#center h3{
    background-color: #FFB1D9;
    width: fit-content;
    border-radius: 50px;
    padding: 8px 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 16px;
}

#center h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 70%;
    margin-top: 35px;
}

#center h4{
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
}

#center button{
    padding: 18px 25px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    margin-top: 80px;
}

#bottom{
    width: 100%;
    height: 50%;
    padding: 10px;
    display: flex;
    gap: 20px;
    /* background-color: rgba(0, 0, 255, 0.167); */
}

.elem{
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elem video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#brands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 80px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#brands h5{
    font-size: 20px;
}

#brands img{
    height: 30px;
    filter: grayscale();
}


#page2{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 89px;
}

#page2 #left{
    height: 100%;
    width: 50%;
    padding: 80px;
    padding-top: 130px;
}

#page2 #left h1{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 20px;
}

#page2 #left p{
    font-size: 15px;
    font-weight: 500;
}

#button button{
    padding: 18px 25px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    margin-top: 80px;
}

#right{
    height: 100%;
    width: 50%;
    /* background-color: gray; */
    padding: 10px;
    position: relative;
}

#page2 #right img{
    height: 100%;
}

#right-card{
    height: 230px;
    border-radius: 20%;
    position: absolute;
    top: 70%;
    left: 40%;
    width: 270px;
    background-color: #fff;
    box-shadow: 0 0 30px #00000029;
    padding: 20px 20px;
}

#card-header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

#card-header h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
}


#card-header h6{
    font-size: 15px;
    font-weight: 500;
    background-color: #DDFDE8;
}

#skills{
    /* background-color: red; */
}

#skills h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

#skills h5{
    font-weight: 500;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 4px 8px;
    margin-bottom: 10px;

    display: inline-block;
}