* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: calc(100% + 40%);
    background-color: black;
    padding: 10px 50px;
}

#nav{
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid #767474;
}
#logo h2{
    margin-left: 20px;
    font-size: 28px;
    font-weight: 500;
}
#mid{
    display: flex;
    margin-right: 40%;
    gap: 50px;

}
#mid h3{
    font-size: 18px;
    font-weight: 500;
}
#login h3{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

#top{
    width: 100%;
    height: 50%;
    color: #fff;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
#left{
    width: 50%;
    height: 100%;
}
#left h1{
    font-size: 60px;
    font-weight: 450;
}
#line{
    width: 70%;
    height: 1px;
    background-color: #fff;
}
#down{
    margin-top: 15px;
    display: flex;
    gap: 30%;
}
#down h5{
    font-size: 15px;
    font-weight: 500;
}

#right{
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1140790210/photo/beautiful-blonde-woman.jpg?s=1024x1024&w=is&k=20&c=YczP4_6Jebj_OUAuipOW9V0EhPsEIMVsAmFIErjWE70=);
    background-size: cover;
    background-position: 0% 30%;
}
#right #text {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#text h3{
    font-weight: 600;
}
#border{
    border: 1px solid black;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#border h4{
    color: #000000;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
}
#border i{
    font-size: 40px;
}
#bottom{
    color: #fff;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.one{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#icon{
    display: flex;
    gap: 10px;
} 
#icon i{
    font-size: 40px;
}
#icon h4{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 550;
}
#box{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;

}
#box h3{
    font-size: 16px;
    font-weight: 500;
    display: inline;
    margin-right: 30%;
    border: 1px solid rgb(151, 148, 148);
    border-radius: 50px;
    padding: 4px 3px;
}
#two{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem;
    gap: 10px;
    color: #000000;
}
.cards1{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 78, 2);
    border-radius: 1rem;
}
.cards1 h2{
    font-size: 20px;
    font-weight: 550;
    padding: 20px;
}

.cards2{
    width: 30%;
    height: 100%;
    background-color: rgb(225, 242, 221);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
#up2 i{
    text-align: end;
    font-size: 50px;
    font-weight: 100;
}
#down2 h1{
    font-size: 30px;
    font-weight: 600;
}

.cards3{
    width: 30%;
    height: 100%;
    background-color: rgb(253, 237, 57);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
#up3 h3{
    font-size: 20px;
    font-weight: 600;
}
#down3 h1{
    font-size: 80px;
    opacity: .8;
    font-weight: 600;
}



































/* 
#page {
    width: 100%;
    height: 100%;
    padding: 3%;
}

#main {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/1253.jpg);
}

#nav {
    width: 60%;
    height: 60px;
    gap: 100px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#nav i {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

#bottom {
    width: 100%;
    height: calc(100% - (70px));
    display: flex;
}

#left {
    width: 50%;
    height: 100%;
    margin-left: 70px;
    margin-top: 7%;
}

#left #top {
    font-size: 50px;
    color: #ffffff29;
}

#left #center h1 {
    color: #fff;
    font-size: 50px;
}

#left #center h3 {
    color: #e8e5e592;
    font-size: 15px;
    font-weight: 500;
}

#left #end {
    width: 24%;
    height: 10%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

#left #end i {
    font-size: 40px;
}

#left #end h5 {
    font-size: 15px;
    font-weight: 500;
}

#bottom #right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-right: 100px;
}

#bottom #right .card1 {
    width: 50%;
    height: 23%;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/15964349/pexels-photo-15964349/free-photo-of-mount-everest.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: 0 70%;
}
#bottom #right .card1 #card1-up h2 {
    color: #fff;
    font-size: 70px;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 50px;
}
#bottom #right .card1 #card1-down {
    margin-left: 10px;
    width: 50%;
    height: 70px;
    margin-top: 40px;
    color: #fbf7f7;
}
#bottom #right .card1 #card1-down i {
    font-size: 40px;
}

#bottom #right .card2 {
    width: 50%;
    height: 23%;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/816608/pexels-photo-816608.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: 0 30%;
}
#bottom #right .card2 #card2-up h2 {
    color: #fff;
    font-size: 70px;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 50px;
}
#bottom #right .card2 #card2-down {
    width: 50%;
    height: 70px;
    margin-top: 40px;
    color: #fff;
    margin-left: 10px;
}
#bottom #right .card2 #card2-down i {
    font-size: 40px;
}

#bottom #right .card3 {
    width: 50%;
    height: 23%;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/18402757/pexels-photo-18402757/free-photo-of-motorboats-in-the-sea-by-the-rocky-shore.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: 0 30%;
}
#bottom #right .card3 #card3-up h2 {
    color: #fff;
    font-size: 70px;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 50px;
}
#bottom #right .card3 #card3-down {
    width: 50%;
    height: 70px;
    margin-top: 40px;
    color: #fff;
    margin-left: 10px;
}
#bottom #right .card3 #card3-down i {
    font-size: 40px;
}

#bottom #right .card4 {
    width: 50%;
    height: 23%;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/13348136/pexels-photo-13348136.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: 0 70%;
}#bottom #right .card4 #card4-up h2 {
    color: #fff;
    font-size: 70px;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 50px;
}
#bottom #right .card4 #card4-down {
    width: 50%;
    height: 70px;
    margin-top: 40px;
    color: #fff;
    margin-left: 10px;
}
#bottom #right .card4 #card4-down i {
    font-size: 40px;
} */